[MASTER]
persistent=no

[MESSAGES CONTROL]
enable=all
disable=
    logging-format-interpolation,
    too-few-public-methods,
    missing-docstring


[REPORTS]
reports=no

[BASIC]
function-rgx=[a-z_][a-z0-9_]{2,50}$
function-name-hint=[a-z_][a-z0-9_]{2,50}$

attr-rgx=[a-z_][a-z0-9_]{2,30}$
attr-name-hint=[a-z_][a-z0-9_]{2,30}$

const-rgx=(([A-Za-z_][A-Za-z0-9_]*)|(__.*__))$
const-name-hint=(([A-Za-z_][A-Za-z0-9_]*)|(__.*__))$

class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$
class-attribute-name-hint=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$

module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
module-name-hint=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

argument-rgx=[a-z_][a-z0-9_]{2,30}$
argument-name-hint=[a-z_][a-z0-9_]{2,30}$

method-rgx=[a-z_][a-z0-9_]{2,50}$
method-name-hint=[a-z_][a-z0-9_]{2,30}$

inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
inlinevar-name-hint=[A-Za-z_][A-Za-z0-9_]*$

variable-rgx=[a-z_][a-z0-9_]{2,50}$
variable-name-hint=[a-z_][a-z0-9_]{2,50}$

no-docstring-rgx=^_
docstring-min-length=-1

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=79

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX
